/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

.logoheader {
    max-width: 65px;
}

nav a {
    margin-left: 60px;
    padding-top: 10px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

/* Cta */

.cta {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 22px;
}

p {
    padding-top: 0px;
    margin-block-start: 10px;
}

/* Barre de recherche */

.search {
    display: flex;
    justify-content: flex-start;
    margin-block-start: 30px;
    margin-bottom: 30px;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    width: 15px;
    height: 53px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #F2F2F2;
    background-color:#F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

input::placeholder {
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.searchlocation {
    width: 150px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color:#F2F2F2;
    font-size: 18px;
}

.submitlocation {
    color:white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    border-style: solid;
    border-width:1px;
    border-color:#0065FC;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    position:relative; left: -5px;
}
/* Barre des filtres et info */

.filtertitle {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filtertitle2 {
    
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.filterbar {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.filterbar i {
    font-size: 20px;
    padding-left: 10px;
}

button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-color: #D9D9D9;
    background-color: white;
    border-width: 2px;
    border-radius: 25px 25px 25px 25px;
}

button:hover {
    background-color: #DEEBFF;
}

.info {
    display : flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.fa-info {
    font-size: 12px;
    border-style: solid;
    border-color:#F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-right: 9px;
    padding-left: 9px;
    margin-right: 8px;
}

.pinfo {
    margin-bottom: 0;
    margin-top: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h1 {
    margin-top: 0;
    font-size: 22px;
}

.marseille-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
}

.marseille-card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 240px;
}

.marseille-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.marseille-title {
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 4px;
    margin-top: 10px;
}

.marseille-subtitle {
    font-size: 16px;
    padding-left: 15px;
    margin: 0;
}

.marseille-rating {
    padding-left: 15px;
    margin-top: 5px;
}

.marseille-rating i {
    font-size: 14px;
}

.afficherplus {
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Ci-dessous le code de la section activités à Marseille */

.activites  {
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 30px;
}

.activites-cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.activite-card {
    height: 440px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.activite-card img {
    border-radius: 20px 20px 0px 0px;
    height: 380px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    object-fit: cover;
    width: 297.5px;
}

.activite-content {
    margin-left: 15px;
    padding-top: 5px;
}


/* Ci-dessous le code du footer */

footer {
    display: flex;
    flex-wrap: nowrap;
    background-color:#F2F2F2;
}

footer div {
    width : 446px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
    @media (max-width: 1024px) {

        header {
            width: 924px;
        }

        .filterbar {
            display: flex;
            flex-wrap: wrap;

        }

        .filtertitle {
            width: 100%;
            margin-top: 0;
            margin-bottom: 10px;
        }

        button {
            margin-top: 0;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 13px;
            padding-bottom: 13px;
        }

        .hebergements-and-populaires {
            flex-direction: column;
        }

        .hebergements {
            width: 924px;
        }

        .marseille-cards {
            justify-content: flex-start;
            gap: 30px;
        }

        .marseille-card {
            height: 207.25px;
            width: 258px;
        }

        .populaires {
            width: 924px;
            margin-top: 50px;
        }

        .populaires-cards {
            display: flex;
            gap: 35px;
            justify-content: flex-start;
        }

        .card {
            width: 264.67px;
        }

        .populaires-cards a {
            width: 30%;
        }

        .populaires-cards .card-title {
            font-size: 14px;
        }

        .populaires-cards .card-subtitle {
            font-size: 13px;
        }

        .activites-cards {
            width: 100%;
            justify-content: flex-start;
            flex-wrap: nowrap;
            gap : 30px;
        }

        .activite-card {
            height: 270px;
            width: 193.5px;
        }

        .activite-content {
            width: auto;        }

        .activite-card img {
            width:auto;
            height: 200px;
        }

        footer {
            width: 924px;
            height: 163px;
        }

        footer div {
            width : 33%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    /* Small devices (phones, less than 768px) */
    @media (max-width: 768px) and (min-width: 320px) {

        .filtertitle {
            font-weight: bold;
            font-size: 16px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        .filtertitle2 {
            
            font-weight: bold;
            font-size: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .filterbar {
            display: flex;
            gap: 15px;
            margin-bottom: 35px;
        }
        
        .filterbar i {
            font-size: 18px;
            padding-left: 10px;
        }

        .marseille-cards {
            justify-content: space-evenly;
            gap : 30px;
        }

        .activites-cards {
            gap: 30px;
        }

        .activites {
            width: 100%;
            justify-content: space-evenly;
            padding: 0;
        }
    }